.Add-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0 5rem 0 5rem;
}

.col-sm-10 {
    margin-bottom: 0.5rem;
}

.btn{
    margin-left: 1.5rem;
    width:25% ;
    height: 20%;
}
